.App {
  text-align: center;
}
.modalBody{
  /* text-align: center; */
}
.btn1{
  position: absolute;
  right: 5px;
}
.btn2{
  position: absolute;
  right: 5px;
}
.btn3{
  position: absolute;
  right: 60px;
}
.btn4{
  position: absolute;
  right:5px;
}

/* .Card{
  position: absolute;
  background-color: lightgrey;
  width:15%;
  height:10%;
  border: 1px solid black;
}
.Card-body{
  background-color: lightgrey;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.headingIntro{
  text-align: center;
}
.empDet{
  position: absolute;
  text-align: center;
  top:30%;
  left:37%;
}
.empBtn{
  margin: 5px;
}
.search{
  position: absolute;
  /* border: 2px solid black; */
  padding:20px;
  width: 50%;
  text-align: center;
  top:15%;
  left:25%;
  /* margin: 5px; */
  /* background-color: lightgray; */
}
.addBtn{
  top:10%;
  margin: 5px;
}
.empLink{
  border: 1px solid black;
  margin: 10px;
  background-color: lightgrey;
}
.logout{
  position: absolute;
  right:5%;;
  top:15%;
}
.Assigned{
  position: absolute;
  /* border: 2px solid black; */
  width:20%;
  /* height: 50%; */
  top:30%;
  margin: 4px;
  /* background-color: lightpink; */
  text-align: left;
}
.Progress{
  position: absolute;
  /* border: 2px solid black; */
  width:19%;
  /* height: 50%; */
  top:30%;
  left:20.5%;
  margin: 4px;
  background-color: powderblue;
  text-align: left;
}
.Blocked{
  position: absolute;
  /* border: 2px solid black; */
  width:19%;
  /* height: 50%; */
  top:30%;
  left:40%;
  margin: 4px;
  background-color: lightgrey;
  text-align: left;
}
.Testing{
  position: absolute;
  /* border: 2px solid black; */
  width:19%;
  /* height: 50%; */
  top:30%;
  left:59.5%;
  margin: 4px;
  background-color: yellow;
  text-align: left;
}
.Complete{
  position: absolute;
  /* border: 2px solid black; */
  width:19%;
  /* height: 50%; */
  top:30%;
  left:79%;
  margin: 4px;
  background-color: lightgreen;
  text-align: left;
}
.heading{
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
}
.myList{
  text-align: left;
}
.colorGreen{
  background-color: green;
}
#compBtn{
  position: absolute;
  right:58px;
}
#closeBtn{
  position: absolute;
  right:2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
